<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

</head>                    

<body>

<h2>Building a datacenter in your basement</h2>

<pre>
Legalities (Need to look into this)

Network (Time Warner, Public IP, a Good Router)

Security (Port forwarding, ssh, etc..)

Power backup (a good UPS)

Cooling (Cool basement + inexpensive box fans from lowes) 

Building the computers (Microcenter, specs / parts list / price)

Disaster recovery (Nightly compression + shipping to a remote site + purging)

Cost (Network, Computers, Infrastructure equipment, Power backup, Remote site backup)

Outstanding issues
 - Redundant Router
 - Redundant ISP
 - Redundant Machines
 - DB Replication

Related links:

 - http://www.webhostingtalk.com/showthread.php?t=896299


</pre>



</body>                                    
</html>

