<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:py="http://genshi.edgewall.org/"
  xmlns:xi="http://www.w3.org/2001/XInclude"
  lang="en">

<xi:include href="../master.html" />      
<head>

<style type="text/css">
<!--
   ul.posts li {margin:10px 0 17px 0; font-size:16px;}
-->
</style>

</head>                    

<body>

  <div style="text-align:center;">

      <div >
          <h2>
              <i class="icon-barcode"></i> Some words to enjoy 
          </h2> 
      </div>

      <ul class="posts" style="list-style:none;margin:10px 0 0 0;">

        <li>
          <a href="/blog/modeling_complexity">
          Modeling complexity
          </a>
        </li>

        <li>
          <a href="/blog/graph_reduction_linlog_nbody_simulation">
          Network reduction via the linlog energy model
          </a>
        </li>  

        <li>
          <a href="/blog/random_walk_graph_diffusion">
          Random walk graph diffusion
          </a>
        </li> 

        <li>
          <a href="/blog/graph_based_similarity">
          Graph based node similarity
          </a>
        </li>

        <li>
          <a href="/blog/large_scale_graph_embedding">
          Large scale graph embedding
          </a>
        </li> 

        <li>
          <a href="/blog/physics_of_information">
          The physics of information
          </a>
        </li>

        <li>
          <a href="/blog/deep_learning">
          Collection of code/info related to deep learning
          </a>
        </li>        

        <li>
          <a href="/blog/multidimensional_scaling">
          Multidimensional Scaling (MDS)
          </a>
        </li>

        <li>
          <a href="/blog/using_python_and_r_together">
          Using python and R together
          </a>
        </li> 

        <li>
          <a href="/blog/twitter_terms_of_service">
          Twitter API terms of service
          </a>
        </li>

        <li>
          <a href="/blog/darpa_social_media_request_for_proposals">
          DARPA Social Media in Strategic Communication (SMISC) request for proposals
          </a>
        </li>
        
        <li>
          <a href="/blog/graphlab_datasets">
          Graphlab datasets
          </a>
        </li>

<!--         <li>
          <a href="/blog/building_a_datacenter_in_your_basement">
          Building a datacenter in your basement
          </a>
        </li>  -->

        <!-- <li>
          <a href="/blog/modeling_complexity_w_python_2">
          Modeling complexity (part 2)
          </a>
        </li> -->
<!--         
        <li>
          <a href="/blog/cleveland_ai_and_ml_support_group">
          Cleveland AI and ML support group
          </a>
        </li> -->
                    
      </ul>
    
  </div>

</body>                                    
</html>

