
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

</head>                    

<body>

<h2>Large scale graph embedding</h2>

<p>
It's a simple idea, but it took this paper to get me to go for it: 
</p>

<ul>
<ol>
<a href="http://research.google.com/pubs/archive/36923.pdf">
Large-Scale Community Detection on YouTube for Topic Discovery and Exploration
</a>
</ol>
</ul>

<p>
Here's a brief synopsis:
</p>

<p>
Large scale community detection is hard.  
'Global methods' require knowledge of the entire graph, 
which is practically impossible for web scale graphs.
'Local methods' get stuck in a local optima.  
This paper suggests a multi-stage approach:
</p>

<ul>
<li>Step 1: Seed node identification (simple graph partitioning)</li>
<li>Step 2: Use seed node as root for distributed community detection</li>
<li>Step 3: Intelligently stitch everything together</li>
</ul>

<p>
A big difference between their implementation and 
the smarttypes implementation is:
</p>

<ul>
<ol>
We're concerned w/ community detection 
<span style="font-weight:bold;">and graph embedding</span>.
</ol>
</ul>

<p>
Here's 
<a href="http://www.smarttypes.org/blog/graph_reduction_linlog_nbody_simulation">
a little diddy about graph embedding and the linlog energy model</a>
</p>

<p>This is from 
  <a href="https://github.com/smarttypes/smarttypes/blob/master/smarttypes/graphreduce/README">
    the smarttypes graphreduce README 
  </a>:
</p>

<pre>Graphreduce is designed to reduce large networks to a 2D map.

We seek an 'accurate' reduction that highlights community structure.

We assume the entire graph won't fit into memory, which makes for an 
interesting challenge.

Here are the steps:

 1. reduce root_node's network using LinLog energy model and save
 reduction to the db

 2. use reduction to id communities and save communities to the db

 3. use reductions and communities to stitch a bunch of reductions together 
 and save to postgis

 4. use mapnik to generate image tiles

 5. use leaflet + d3 to do for the html map
</pre>

</body>                                    
</html>

