<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

</head>                    

<body>

<h2>Multidimensional Scaling (MDS)</h2>

<p>
MDS is dimension reduction geared to our specific goal:
reducing a similarity matrix to a low-dimensional plain
</p>

<p>
For more on our similarity matrix, see
<a href="http://faculty.ucr.edu/~hanneman/">Hanneman</a>
and
<a href="http://www.unco.edu/sociology/faculty/riddle-mark.html">Riddle's</a>:
<a href="http://faculty.ucr.edu/~hanneman/nettext/C13_%20Structural_Equivalence.html">
Measures of similarity and structural equivalence
</a>
</p>

<p>
The essence of MDS is simple:  
An objective function that compares the explicit distances in our similarity matrix 
w/ the distances implied in our reduced matrix.
The goal is to find a reduction that best approximates our original.
</p>

<p>
There are a lot of different MDS (and dimension reduction) methods, 
and new one's being introduced daily it seems. 
</p>

<p>
I wanted a method w/ a sound GPU implementation.
I quickly found, and settled on: 
<a href="http://www.cs.ubc.ca/labs/imager/tr/2008/glimmer/">
Glimmer: Multilevel MDS on the GPU
</a>
</p>

<p>
Here are the good people responsible for Glimmer:

<ul>
<li><a href="http://www.cs.ubc.ca/~sfingram">Stephen Ingram</a></li>
<li><a href="http://www.cs.ubc.ca/~tmm">Tamara Munzner</a></li>
<li><a href="http://www.csee.umbc.edu/~olano/">Marc Olano</a></li>
</ul>
</p>


</body>                                    
</html>

