<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

</head>                    

<body>

<h2>The physics of information</h2>

<p>
The book 
<a href="http://www.audible.com/pd/ref=sr_1_1?asin=B002V5B6I2">
What Hath God Wrought: The Transformation of America, 1815 - 1848</a>
describes a shift in the physics of information.
</p>

<p>
This book highlights a story published by a British paper shortly after the telegraph was up and running.
The story describes a man killing his wife, and boarding a train before the information of his crime spread.
A description of the man was telegraphed ahead of the train, and the man was caught. 
</p>

<p>
The fact that authorities were able to catch the man isn't very amazing to us.
But, for people in the mid-1800s, information traveling faster than a train or horse or boat was new.
Before the mid-1800s, human digestible information, literally, could not travel faster than a train.
</p>

<p>
The book highlights a few other stories like this.
Andrew Jackson's famous Battle of New Orleans took place after the British surrendered 
(it takes a long time to send a message by boat). 
</p>

<p>
I love the idea of overcoming old physical limitations.
</p>

<p>
I also enjoy thinking of information in a physical light.
<br/>
How does it spread?
<br/>
What's its fundamental constituents?
<br/>
And the like..
</p>

<p>
I'm looking forward to the 'TBA' Information Theory course 
<a href="https://www.coursera.org/courses">on coursera</a> 
</p>


</body>                                    
</html>

