*pyc
*.wpr
*.sublime-*
.ropeproject/
smarttypes/backups
smarttypes/static/tiles/
smarttypes/static/video
smarttypes/static/graphlab_pmf.tar.gz
smarttypes/static/graphlab_pmf/
smarttypes/static/images/maps/
smarttypes/graphreduce/io/
time.dat
smarttypes/config.py
