

<div xmlns:py="http://genshi.edgewall.org/" style="text-align:center;">
    <div py:if="community">

        <h2>${len(community.member_ids)} member community</h2>

        <div class="user_list" style="height:200px;overflow:scroll;overflow-x:hidden;">

            <ul style="list-style:none;margin:10px 0;">
                <li style="margin:20px 10px;" py:for="score, user in community.top_users(10)">

                    <img py:if="user.profile_image_url" 
                        width="50px" src="${user.profile_image_url}" alt="user.screen_name" />

                    <span style="font-weight:bold;">
                        <i class="icon-share"></i>
                        <a target="_blank" href="https://twitter.com/${user.screen_name}">${user.screen_name}</a>
                    </span>

                    <span style="font-style:italic;">
                        <br/>
                        ${user.location_name if user.location_name else 'No location given'}
                    </span>

                    <span py:if="user.description">
                        <br/>
                        ${user.description[:100]}${'...' if len(user.description) &gt; 100 else ''}
                    </span>

                    <span py:if="user.url">
                        <br/>
                        <a target="_blank" href="${user.url}">
                            ${user.url[:25]}${'...' if len(user.url) &gt; 25 else ''}
                        </a>
                    </span>
                </li>
            </ul>

        </div>

    </div>
</div>



