<!DOCTYPE html> 



<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="../master.html" />      
<head>

    
</head>                    

<body>

    <div style="text-align:center;">
        <h2>
            A map of our online social world!
        </h2>
        <p>
        	This is a work in progress.  
        	See <a href="/blog/large_scale_graph_embedding">this post on large scale graph embedding</a> 
        	to learn more about the technical details behind our social map making process.
        	This page servers as a placeholder, to illustrate what we're imagining.
        	Our goal is to create an accurate, searchable, map of our online social world:
        </p>
        <!--<p>
	        <form name="" action="" method="" style="margin:20px 0;">
	            <span >Search:</span>
	            <input type="text" style="text-align:center;" class="text" name="email" value="social science" />
	            <input type="submit" class="submit" value="Search Map" />
	        </form> 
        </p>-->
        <p style="padding:20px 0;">
        	<img src="/static/images/cone_nebula.jpg" alt="/static/images/cone_nebula.jpg"/>
        </p>
        <p>
        	<a href="http://www.sierra-remote.com/index.html">Image courtesy of Sierra Remote Observations</a>
        </p>
    </div>

</body>                                    
</html>

