<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="master.html" />      
<head>


</head>                    

<body>

    <div style="text-align:left;">
        <h2>
            Some example communities!
        </h2>
        <p py:for="community in communities">
            ${community.index}
            <ul>
                <li py:for="score, user in community.top_users()">
                    ${score} --
                    ${user.screen_name} --
                    ${user.location_name} --
                    ${user.description}
                </li>
            </ul>
        </p>
    </div>

</body>                                    
</html>

