<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="master.html" />      

<head>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>

    <style type="text/css" media="screen">
        #map { height: 450px; }
        .leaflet-container { background:None; }
    </style>

    <script type="text/javascript">
        $(function(){
            var reduction_id = ${reduction_id if reduction_id else 'undefined'};
            var reductions_metadata = ${reductions_metadata if reductions_metadata else 'undefined'};
            init_social_map(reduction_id, reductions_metadata);
        });
    </script>

</head>                    

<body>

    <div style="text-align:center;margin-top:-20px;">
<!--         <div style="text-align:right;">
          <form style="text-align:center;" class="form-search">
            <input type="text" class="input-large" placeholder="@handle or some text ..." />
            <button type="submit" class="btn">
              <i class="icon-search"></i> Explore</button>
          </form>
        </div> -->
        <div style="margin:20px 0;">
            <div id="map"></div>
        </div>
    </div>

</body>                                     
</html>

