<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="master.html" />      

<head>

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
    <![endif]-->
    <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>

    <style type="text/css" media="screen">
        @media (min-width:1024px) {
            .tab-pane {height:400px;overflow:scroll;overflow-x:hidden;}
        }
        #map { height: 400px; }
        .leaflet-container { background:None; }
        .leaflet-popup-content {font:inherit;}
        .leaflet-container a {color: #606;}
    </style>

    <script type="text/javascript">
        $(function(){
            var reduction_id = ${reduction_id if reduction_id else 'undefined'};
            init_social_map(reduction_id);
        });
    </script>

</head>                    

<body>

    <!-- don't do anything if we don't have a reduction_id -->
    <div id="social_map" py:if="reduction_id" class="row-fluid" style="">
        <?python 
            communities = reduction.communities()
            root_user = reduction.root_user()
        ?>

        <div class="span7">
            <div style="padding:0 10px;">
                <div id="map_header">
                    <div>
                        <img width="50px" style="padding:0 15px 0 0;vertical-align: top;" align="left" py:if="root_user.profile_image_url" 
                                src="${root_user.profile_image_url}" alt="root_user.screen_name" />
                        
                        <i class="icon-share"></i>
                        <a target="_blank" 
                            href="https://twitter.com/${root_user.screen_name}">${root_user.screen_name}</a>

                        <span style="font-style:italic;">
                            ${root_user.location_name if root_user.location_name else 'No location given'}
                        </span>

                        <span style="" py:if="root_user.description">
                            <br/>
                            ${root_user.description}
                        </span>
                    </div>
                    <div style="clear:both;">&nbsp;</div>
                </div><!-- map_header -->

                <div class="hidden-phone">
                    <div id="map"></div>
                </div>
            </div>
        </div>

        <div class="span5">

            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#this_map" data-toggle="tab">Communities</a>
                </li>
                <li>
                    <a href="#other_maps" data-toggle="tab">Explore</a>
                </li>
            </ul>

            <div class="tab-content">

                <!-- this_map -->
                <div style="" class="tab-pane active" id="this_map">
                    <ul style="list-style:none;margin:0 10px;">
                        <li py:for="community in communities" 
                            id="community_${community.id}"
                            style="margin:20px 0;padding:0 10px;border-bottom:solid 1px #cccccc;">

                            <?python top_user = community.top_users(1)[0][1] ?>

                            <h3 class="visible-desktop">
                                <a class="map_popup_link" 
                                    href="#">${len(community.member_ids)} member community</a>
                            </h3>
                            
                            <div class="community_leader_container">
                                <h3 class="hidden-desktop">
                                    <a class="show_all" 
                                        href="#">${len(community.member_ids)} member community</a>
                                </h3>

                                <div style="margin:20px 10px;">
                                    <img width="50px" py:if="top_user.profile_image_url" 
                                            src="${top_user.profile_image_url}" alt="top_user.screen_name" />

                                    <span style="font-weight:bold;">
                                        <i class="icon-share"></i>
                                        <a target="_blank" 
                                            href="https://twitter.com/${top_user.screen_name}">
                                                ${top_user.screen_name}</a>
                                    </span>

                                    <span style="font-style:italic;">
                                        <br/>
                                        ${top_user.location_name if top_user.location_name else 'No location given'}
                                    </span>

                                    <span py:if="top_user.description">
                                        <br/>
                                        ${top_user.description}
                                    </span>

                                    <span py:if="top_user.url">
                                        <br/>
                                        <a target="_blank" href="${top_user.url}">
                                            ${top_user.url[:25]}${'...' if len(top_user.url) &gt; 25 else ''}
                                        </a>
                                    </span>
                                </div>
                            </div>

                            <div class="community_expand_container" style="display:none;">
                                <h3>
                                    <a class="hide_all" 
                                        href="#">${len(community.member_ids)} member community</a>
                                </h3>
                                <div class="community_expand_content"></div>
                            </div> 

                        </li>
                    </ul>
                </div><!-- this_map -->

                <!-- other_maps -->
                <div style="" class="tab-pane" id="other_maps">
                    <ul style="list-style:none;margin:0 10px;">
                        <li py:if="user.id != root_user.id" style="margin:20px auto 50px auto;" 
                            py:for="user, count in user_reduction_counts">

                            <a py:if="user.profile_image_url" href="/${user.screen_name}">
                                <img width="50px" py:if="user.profile_image_url" 
                                    src="${user.profile_image_url}" alt="user.screen_name" />
                            </a>

                            <span style="font-weight:bold;">
                                <a href="/${user.screen_name}">${user.screen_name}</a>
                            </span>

                            <span style="font-style:italic;">
                                <br/>
                                ${user.location_name if user.location_name else 'No location given'}
                            </span>

                            <span py:if="user.description">
                                <br/>
                                ${user.description}
                            </span>
                        </li>
                    </ul>
                </div><!-- other_maps -->


            </div><!-- tab-content -->
        </div><!-- span4 -->
    </div><!-- row-fluid -->



</body>                                     
</html>

