<!DOCTYPE html> 



<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en">

<xi:include href="master.html" />      
<head>

</head>                    

<body>

    <div style="text-align:center;">
        <h2>Welcome!</h2>

        <p>SmartTypes is an open lab for social network analysis (initially twitter).</p>
        <p>We provide free, automated tools to pull and store social connections and content.</p>
        <p>Our goal (kinda like geographic cartographers of old) is to 'map of our social world'.</p>

        <p style="margin-top:25px;">
            <a href="/sign_in">Signin w/ your twitter account to get started</a>
        </p>
    </div>

</body>                                     
</html>

