
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:py="http://genshi.edgewall.org/"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    lang="en"
    py:strip="">

<head py:match="head" py:attrs="select('@*')">

    <link type="text/css" href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <!-- <script src="/static/js/d3.v2.min.js" type="text/javascript"></script> -->
    <script src="/static/js/modernizr.js" type="text/javascript"></script>
    <script src="/static/js/social_map.js" type="text/javascript"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0" /> -->
    <meta name="description" content="${meta_page_description}" />

    <title>${title}</title>

    <!--inserts all the header crap from the child-->
    <meta py:replace="select('*|text()')" />

</head> 

<body style="padding:40px 0;" py:match="body" py:attrs="select('@*')">
  <div class="container-fluid">

    <!-- header -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
     
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="/">
            SmartTypes: <span style="font-size:75%;">mapping our social world</span>
          </a>

          <div class="nav-collapse">

            <ul class="nav pull-right">
              <li class="${'active' if active_tab == 'about' else ''}">
                <a style="font-size:17px;" href="/about">
                  About 
                </a> 
              </li>
              <li class="${'active' if active_tab == 'blog' else ''}">
                <a style="font-size:17px;" href="/blog">
                  Words 
                </a> 
              </li>
              <li py:if="not logged_in_user" >
                <a style="font-size:17px;" href="/sign_in">
                  Sign in w/ twitter 
                </a> 
              </li>
              <li py:if="logged_in_user" class="${'active' if active_tab == 'my_account' else ''}">
                <a style="font-size:17px;" href="/my_account">
                  Settings
                </a> 
              </li>
            </ul><!-- nav -->

          </div><!-- nav-collapse -->
        </div><!-- container -->
      </div><!-- navbar-inner -->
    </div><!-- navbar-fixed-top -->

    <!--crap from the child-->
    <div class="row-fluid" style="margin:40px 0;">
      <div class="span1">&nbsp;</div>
      <div py:if="active_tab != 'blog' or template_path == 'blog/index.html'" class="span10">
        <div py:replace="select('*|text()')"></div>
      </div>
      <div py:if="active_tab == 'blog' and template_path != 'blog/index.html'" 
        style="max-width:800px;" class="span10">
        <div py:replace="select('*|text()')"></div>
      </div>
      <div class="span1">&nbsp;</div>
    </div>

    <!-- footer -->
    <div class="navbar navbar-fixed-bottom" style="">
      <div class="navbar-inner">
        <div class="container-fluid">

          <ul class="nav pull-left">
            <li>
              <a target="_blank" href="http://twitter.com/smarttypes">
                <i class="icon-share"></i> @SmartTypes
              </a>
            </li>
          </ul><!-- nav -->

          <ul class="nav pull-right">
            <li>
              <a target="_blank" href="https://github.com/smarttypes/smarttypes">
                <i class="icon-share"></i> Everything's on github
              </a>
            </li>
          </ul><!-- nav -->

        </div><!-- container -->
      </div><!-- navbar-inner -->
    </div><!-- navbar-fixed-bottom -->


  </div>
</body>
</html>
